@font-face {
   font-family: 'Luminari';
   font-style: normal;
   font-weight: normal;
   src: local('Luminari'), url('../fonts.Luminari-Regular.woff') format('woff');
}

* {
   box-sizing: border-box;
}

header {
   background-color: #8B0000;
   padding: 5px 40px;
   display: inline-block;
   position: fixed;
   width: 100%;
   z-index: 5;
}

nav {
   background-color: #A9A9A9;
   width: 10%;
}

.main-title {
   font-size: 48px;
   font-family: Luminari, serif;
   font-weight: bold;
   position: relative;
   width: 30%;
}

.main-body {
   background-color: #CDCBCC;
   /* background-image: url('../images/stone.jpeg'); */
   padding: 5px 40px;
   position: relative;
   top: 175px;
}

.main-footer {
   background-color: #8B0000;
   padding: 15px;
}
