@font-face {
   font-family: 'Luminari';
   font-style: normal;
   font-weight: normal;
   src: local('Luminari'), url('../fonts.Luminari-Regular.woff') format('woff');
}

* {
   box-sizing: border-box;
}

header {
   background-color: #8B0000;
   padding: 5px 40px;
   display: inline-block;
   /* position: fixed; */
   /* width: 100%; */
   /* z-index: 5; */
}

nav {
   /* background-color: #A9A9A9; */
   width: 60%;
   float: right;
}

nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   color: #000000;
   background-color: #A9A9A9;
   font-weight: bold;
   font-size: 24px;
   text-align: center;
}

nav ul li {
   float: left;
}

nav ul li a {
   display: block;
   padding: 20px;
   color: #000000;
   font-weight: bold;
   font-size: 24px;
   text-align: center;
   text-decoration: none;
}

.logo {
   width: 50px;
}

.main-title {
   font-size: 48px;
   font-family: Luminari, serif;
   font-weight: bold;
   color: #000000;
   position: relative;
   width: 30%;
   float: left;
}

main {
   background-color: #CDCBCC;
   background-image: url('../images/white-marble-texture-abstract-background_28586-1427.jpg');
   padding: 5px 40px;
   position: relative;
   /* top: 175px; */
   /* bottom: 100px; */
   /* width: 100%; */
   margin: 0;
}

p {
   line-height: 2;
   font-weight: bold;
}

footer {
   background-color: #8B0000;
   padding: 15px;
   position: fixed;
   width: 100%;
}
